 html { 
   margin: 20px; 
	 background: yellow; 
 }
head { 
}
body { 
}
header { 
  float: right; 
	margin: 10px; 
}
img.header {
	border-style: solid; 
	border-color: black; 
	border-radius: 8px; 
}
h1 { 
  text-align: center; 
  font-size: 60px; 
	border-style: solid; 
	border-color: blue; 
	border-width: 1px; 
	background: lightblue; 
	border-radius: 8px; 
	width: 300px; 
	margin-left: 420px; 
}
p.subtitle {
  text-align: center; 
  font-style: italic; 
}
h2 {
	text-align: center; 
}
h3 {
}
p { 
	font-style: sans-serif; 
	font-size: 20; 
}
ul.main-nav li {
   border-style: inset;  
   border-color: blue; 
   border-width: 1px; 
   border-radius: 8px; 
	 list-style-type: none; 
   text-align: center; 
   display: inline; 
   text-decoration: none; 
	 padding: .2em 1em; 
	 background: lightblue; 
	 text-color: black; 
   padding-bottom: 10px; 
   padding-top: 10px; 
}
ul.main-nav li:hover { 
	background: rgba(76, 175, 200, 0.9); 
}
ul.weybec-people li {
	list-style-type: none; 
}
ul #social li {
	list-style-type: none; 
}
#social {
	border-style: solid; 
  border-color: blue; 
  border-width: 1px; 
	border-radius: 8px; 
  background: lightblue; 
  padding: 10px; 
  position: fixed; 
	margin: 10px; 
	width: 150px; 
	margin-top: 330px; 
}
#social:hover {
  border-style: solid; 
  border-color: blue; 
  border-width: 1px; 
	border-radius: 8px; 
  background: rgba(76, 175, 200, 0.9); 
  padding: 10px; 
  position: fixed; 
	margin: 10px; 
	width: 150px; 
	margin-top: 330px; 
}
#watch {
  border-style: solid; 
  border-color: blue; 
  border-width: 1px; 
	border-radius: 8px;
  background: lightblue; 
  padding: 10px; 
  float: left; 
	margin: 10px; 
	width: 880px; 
	height: 600px; 
	margin-left: 230px; 
	text-align: center; 
}
#mankaa {
	width: 750px; 
	height: auto; 
}
#about {
  border-style: solid; 
  border-color: blue; 
  border-width: 1px; 
	border-radius: 8px; 
  float: left; 
  background: lightgoldenrodyellow; 
  padding: 10px; 
  width: 200px; 
	margin: 10px; 
	text-align: center; 
}
#listen {
  text-align: center; 
	border-style: solid; 
  border-color: blue; 
  border-width: 1px; 
  border-radius: 8px; 
	float: right; 
  background: lightblue; 
  padding: 10px; 
  width: 880px; 
	margin: 10px; 
	margin-right: 250px; 
	margin-top: -300px; 
}
img.headshot {
	border-style: solid; 
	border-color: blue; 
	border-radius; 8px; 
	width: 100px; 
	height: 100px; 
}
footer {
	text-align: center; 
  border-style: solid; 
	border-color: blue; 
	border-width: 1px; 
	border-radius: 8px; 
  padding: 1rem;
  text-align: left;
	float: left; 
  width: 400px; 
	margin-top: 10px; 
	margin-left: 480px; 
}